* {
    box-sizing: border-box
}

body {

}
header {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header h1 {
    font-size: 40px;
    border: 4px solid black;
    font-weight: 500;
    width: 100%;
}

nav {
    font-size: 25px;
    border: 2px solid black;
    padding: 2px;
    display: flex;
    justify-content: center;
    
}
nav li{
    display: inline;
    border: 2px solid blue;
    margin: 0;
    padding: 5px;
}

#project-header {
    display: flex;
    justify-content: center;
}

.projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 40%;
}
.card {
    width: 45%;
    border: 1px solid black;
    margin: 5px;
    flex-wrap: wrap;
    min-width: 200px;
    border-radius: 30px;
    background-color: aquamarine;
}
.card h2 {
    display: flex;
    justify-content: center;
    background-color: maroon;
}
.card img {
    width: 100%;
    border-radius: 30px;
    padding: 5px;
}

.card p {
    padding: 8px;
}

.about img {
    display: flex;
    justify-content: center;
    width: 200px;
}
/* Set standard fullscreen width of project cards. */
@media screen and (max-width: 992px) {
    .card {
        width: 45%;
    }
}
/* Changes width of card on smaller screens to keep a good size. */
@media screen and (max-width: 768px) {
    .card{
        width: 100%;
    }
}